@model IEnumerable<SimpleTicketSystem.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
           <!--If you set up your properties in your model with scaffoldcolumn, and then create your controller, none of the html would have been created for these items and thus wouldn't need to be deleted(or in my case commented out)-->
                @*<th>
                    @Html.DisplayNameFor(model => model.OpenedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClosedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Closed)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.OpenedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Closed)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
